/*===========================
======== Google fonts =======
=============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #161616;
    border-radius: 15px;
}
.header-info {
    margin: 0px 50px;
    width: 50%;
    color: #fff;
}

h2.header-title {
    font-size: 69px;
    line-height: 60px;
    margin-bottom: 15px;
}

a.live-link {
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    border-radius: 6px;
}
a.live-link i {
    margin-left: 10px;
}

p.header-desc {
    margin-bottom: 20px;
}

.header-img img {
    margin-top: 40px;
    width: 425px;
    vertical-align: bottom;
}

/* Main Content Area */
.main-content {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 275px auto;
    gap: 15px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* Menu Item */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

section.main-content-area {
    padding: 60px 0;
}

.side-menu ul li {
    list-style: none;
    padding: 10px;
}

.side-menu ul li a {
    text-decoration: none;
    background-color: #fff;
    display: block;
    /* border: 1px solid gray; */
    color: #000;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.side-menu ul {
    background-color: #000;
    border-radius: 7px;
}

.side-menu ul li a.active {
    background-color: red;
    color: #fff;
}

/* Article area */
.post-thumbnail img {
    width: 100%;
    margin-bottom: 15px;
}

a.transfer-btn {
    text-decoration: none;
    border: 1px solid #161616;
    padding: 3px 20px;
    border-radius: 5px;
    font-size: 15px;
    color: #161616;
}

h3.blog-title {
    font-size: 16px;
    margin: 8px 6px;
    color: #161616;
}

.blog-info {
    display: flex;
    justify-content: flex-start;
    color: rgba(22, 22, 22, 0.7);
    margin: 10px 6px;
}
.publish-time {
    margin-right: 30px;
}
.all-blog-btn {
    display: none;
}
button.more-blog {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: red;
    border: none;
    color: #fff;
    margin: 0 auto;
    font-weight: bold;
    display: grid;
    margin-top: 25px;
}
/* Footer area */
.footer-area{
    background-color: #161616;
}
hr.fhr-border {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255 255 255 / 58%), rgba(0, 0, 0, 0));
}

h2.footer-title {
    text-align: center;
    padding: 30px 0;
    color: #fff;
}

nav.footer-menu {
    margin: 20px 0px;
}

nav.footer-menu ul, .footer-sicial-link ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav.footer-menu ul li {
    list-style: none;
}

nav.footer-menu ul li a {
    text-decoration: none;
    padding: 5px 7px;
    color: #fff;
}

/* Upcoming Page */
.flag-thumbnail img {
    width: 70px;
}

.flag-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
}

span.vs {
    margin: 7px;
    text-transform: lowercase;
    color: #000;
}

.upcoming-match {
    text-align: center;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 30px 20px;
}

h3.upcoming-match-title {
    font-size: 18px;
    margin: 8px 0 0;
}

h4.upcoming-match-date {
    font-size: 15px;
    font-weight: normal;
}

/*===== Footer Social link =====*/
.footer-sicial-link {
    padding-bottom: 30px;
}

.footer-sicial-link ul {
    display: flex;
    justify-content: center;
}

.footer-sicial-link ul li {
    list-style: none;
}

.footer-sicial-link ul li a {
    color: #fff;
    padding: 5px;
    font-size: 30px;
}